@import url(https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i&display=swap);





body {
  font-family: Rubik;
}
.display-1 {
  font-family: 'Rubik', sans-serif;
  font-size: 4.25rem;
  font-display: swap;
}
.display-1 > .mbr-iconfont {
  font-size: 6.8rem;
}
.display-2 {
  font-family: 'Rubik', sans-serif;
  font-size: 3rem;
  font-display: swap;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 {
  font-family: 'Merriweather', serif;
  font-size: 1.2rem;
  font-display: swap;
}
.display-4 > .mbr-iconfont {
  font-size: 1.92rem;
}
.display-5 {
  font-family: 'Rubik', sans-serif;
  font-size: 2rem;
  font-display: swap;
}
.display-5 > .mbr-iconfont {
  font-size: 3.2rem;
}
.display-7 {
  font-family: 'Merriweather', serif;
  font-size: 1rem;
  font-display: swap;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #ffffff !important;
}
.bg-success {
  background-color: #f7ed4a !important;
}
.bg-info {
  background-color: #82786e !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-info,
.btn-info:active {
  background-color: #82786e !important;
  border-color: #82786e !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-success,
.btn-success:active {
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
  color: #3f3c03 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #879a9f !important;
  border-color: #879a9f !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #cccccc;
  color: #cccccc;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #808080;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #cc0033;
  color: #cc0033;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #ff3366;
  border-color: #ff3366;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #4b453f;
  color: #4b453f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #82786e;
  border-color: #82786e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #82786e !important;
  border-color: #82786e !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #d2c609;
  color: #d2c609;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #3f3c03;
  background-color: #f7ed4a;
  border-color: #f7ed4a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #3f3c03 !important;
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #55666b;
  color: #55666b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #879a9f;
  border-color: #879a9f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #7a6e45;
  color: #7a6e45;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #ffffff !important;
}
.text-secondary {
  color: #ff3366 !important;
}
.text-success {
  color: #f7ed4a !important;
}
.text-info {
  color: #82786e !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #cccccc !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #cc0033 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #d2c609 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #4b453f !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #7a6e45 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #82786e;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #8c8c8c;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #ffffff;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #beb8b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Merriweather', serif;
  font-size: 1rem;
  font-display: swap;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
blockquote {
  border-color: #ffffff;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #ffffff;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #ffffff;
}
/* Headers*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card-wrapper {
    flex: auto !important;
  }
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #ffffff;
  color: #000000;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #ffffff !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #ff3366 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23ffffff' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.3;
}
.cid-rWMj8rETrL .navbar {
  padding: .5rem 0;
  background: #90c1d2;
  transition: none;
  min-height: 77px;
}
.cid-rWMj8rETrL .navbar-dropdown.bg-color.transparent.opened {
  background: #90c1d2;
}
.cid-rWMj8rETrL a {
  font-style: normal;
}
.cid-rWMj8rETrL .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-rWMj8rETrL .nav-item a {
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-rWMj8rETrL .nav-item:focus,
.cid-rWMj8rETrL .nav-link:focus {
  outline: none;
}
.cid-rWMj8rETrL .btn {
  padding: 0.4rem 1.5rem;
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-rWMj8rETrL .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-rWMj8rETrL .menu-logo {
  margin-right: auto;
}
.cid-rWMj8rETrL .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rWMj8rETrL .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-rWMj8rETrL .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-rWMj8rETrL .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-rWMj8rETrL .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-rWMj8rETrL .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-rWMj8rETrL .menu-logo .navbar-brand .navbar-logo a {
  display: inline-flex;
}
.cid-rWMj8rETrL .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-rWMj8rETrL .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-rWMj8rETrL .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-rWMj8rETrL .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-rWMj8rETrL .dropdown .dropdown-menu {
  background: #90c1d2;
  visibility: hidden;
  display: block;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-rWMj8rETrL .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-rWMj8rETrL .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rWMj8rETrL .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-rWMj8rETrL .dropdown.open > .dropdown-menu {
  visibility: visible;
}
.cid-rWMj8rETrL .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-rWMj8rETrL .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-rWMj8rETrL .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-rWMj8rETrL .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-rWMj8rETrL .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-rWMj8rETrL .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-rWMj8rETrL .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-rWMj8rETrL button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-rWMj8rETrL button.navbar-toggler:focus {
  outline: none;
}
.cid-rWMj8rETrL button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-rWMj8rETrL button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rWMj8rETrL button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rWMj8rETrL button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rWMj8rETrL button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rWMj8rETrL nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rWMj8rETrL nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rWMj8rETrL nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rWMj8rETrL nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rWMj8rETrL .collapsed.navbar-expand {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rWMj8rETrL .collapsed .btn {
  display: -webkit-flex;
}
.cid-rWMj8rETrL .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-rWMj8rETrL .collapsed .navbar-collapse.collapsing,
.cid-rWMj8rETrL .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-rWMj8rETrL .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-rWMj8rETrL .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-rWMj8rETrL .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-rWMj8rETrL .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-rWMj8rETrL .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
.cid-rWMj8rETrL .collapsed .navbar-collapse.show .navbar-nav .nav-item:last-child {
  margin-bottom: 1rem;
}
.cid-rWMj8rETrL .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-rWMj8rETrL .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-rWMj8rETrL .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-rWMj8rETrL .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 1024px) {
  .cid-rWMj8rETrL .collapsed:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 8rem);
  }
}
.cid-rWMj8rETrL .collapsed button.navbar-toggler {
  display: block;
}
.cid-rWMj8rETrL .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-rWMj8rETrL .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rWMj8rETrL .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  overflow: hidden;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-rWMj8rETrL .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-rWMj8rETrL .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-rWMj8rETrL .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 1023px) {
  .cid-rWMj8rETrL .navbar-expand {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rWMj8rETrL img {
    height: 3.8rem !important;
  }
  .cid-rWMj8rETrL .btn {
    display: -webkit-flex;
  }
  .cid-rWMj8rETrL button.navbar-toggler {
    display: block;
  }
  .cid-rWMj8rETrL .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-rWMj8rETrL .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rWMj8rETrL .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-rWMj8rETrL .navbar-collapse.collapsing,
  .cid-rWMj8rETrL .navbar-collapse.show {
    display: block !important;
  }
  .cid-rWMj8rETrL .navbar-collapse.collapsing .navbar-nav,
  .cid-rWMj8rETrL .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-rWMj8rETrL .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-rWMj8rETrL .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-rWMj8rETrL .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
  .cid-rWMj8rETrL .navbar-collapse.show .navbar-nav .nav-item:last-child {
    margin-bottom: 1rem;
  }
  .cid-rWMj8rETrL .navbar-collapse.collapsing .navbar-buttons,
  .cid-rWMj8rETrL .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-rWMj8rETrL .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-rWMj8rETrL .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-rWMj8rETrL .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    overflow: hidden;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-rWMj8rETrL .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-rWMj8rETrL .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-rWMj8rETrL .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-rWMj8rETrL .menu-logo {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
  }
}
.cid-rWMj8rETrL .navbar-collapse {
  flex-basis: auto;
  -webkit-flex-basis: auto;
}
.cid-rWMj8rETrL .nav-link:hover,
.cid-rWMj8rETrL .dropdown-item:hover {
  color: #c1c1c1 !important;
}
.cid-rWFweKxpCa {
  background-image: url("../../../assets/images/-1024x556.jpeg");
}
.cid-rWGfXbktt1 {
  padding-top: 90px;
  padding-bottom: 0px;
  background-color: #635a51;
}
.cid-rWGfXbktt1 P {
  color: #767676;
}
.cid-rWGfXbktt1 H1 {
  color: #ffffff;
}
.cid-rWGfXbktt1 .mbr-text,
.cid-rWGfXbktt1 .mbr-section-btn {
  color: #ffffff;
}
.cid-saajWUykkk {
  padding-top: 45px;
  padding-bottom: 0px;
  background: linear-gradient(45deg, #4f4943, #635a51);
}
.cid-saajWUykkk .btn {
  margin: 0 0 .5rem 0;
}
.cid-saajWUykkk H2 {
  text-align: left;
  color: #ffffff;
}
.cid-rWGtfFdYKW {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/-480x274.jpg");
}
.cid-rWGtfFdYKW .media-container-row {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
@media (min-width: 992px) {
  .cid-rWGtfFdYKW .mbr-figure {
    padding-right: 4rem;
    padding-right: 0;
    padding-left: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-rWGtfFdYKW .mbr-figure {
    padding-bottom: 3rem;
  }
}
@media (max-width: 767px) {
  .cid-rWGtfFdYKW .mbr-text {
    text-align: center;
  }
}
.cid-sagneb0lTX {
  padding-top: 45px;
  padding-bottom: 0px;
  background: linear-gradient(45deg, #4f4943, #635a51);
}
.cid-sagneb0lTX .btn {
  margin: 0 0 .5rem 0;
}
.cid-sagneb0lTX H2 {
  text-align: left;
}
.cid-saafgOtlGI {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-saafgOtlGI .mbr-text,
.cid-saafgOtlGI blockquote {
  color: #767676;
}
.cid-rWGBnP0D7y {
  padding-top: 45px;
  padding-bottom: 0px;
  background: linear-gradient(45deg, #4f4943, #4f4943);
}
.cid-rWGBnP0D7y .btn {
  margin: 0 0 .5rem 0;
}
.cid-rWGBnP0D7y H2 {
  text-align: left;
  color: #ffffff;
}
.cid-saakgwF6jQ {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/-480x274.jpg");
}
.cid-saakgwF6jQ .media-container-row {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
@media (min-width: 992px) {
  .cid-saakgwF6jQ .mbr-figure {
    padding-right: 4rem;
    padding-right: 0;
    padding-left: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-saakgwF6jQ .mbr-figure {
    padding-bottom: 3rem;
  }
}
@media (max-width: 767px) {
  .cid-saakgwF6jQ .mbr-text {
    text-align: center;
  }
}
.cid-sagnxZWcK2 {
  padding-top: 45px;
  padding-bottom: 0px;
  background: linear-gradient(45deg, #4f4943, #635a51);
}
.cid-sagnxZWcK2 .btn {
  margin: 0 0 .5rem 0;
}
.cid-sagnxZWcK2 H2 {
  text-align: left;
}
.cid-saakwrYMGU {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-saakwrYMGU .mbr-text,
.cid-saakwrYMGU blockquote {
  color: #767676;
}
.cid-rWGCN21MyL {
  padding-top: 45px;
  padding-bottom: 0px;
  background: linear-gradient(45deg, #4f4943, #635a51);
}
.cid-rWGCN21MyL .btn {
  margin: 0 0 .5rem 0;
}
.cid-rWGCN21MyL H2 {
  text-align: left;
}
.cid-rWGEo08zKR {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #bcb1a5;
}
.cid-rWGEo08zKR .mbr-text {
  color: #1e1710;
}
.cid-rWGEo08zKR .mbr-text P {
  text-align: left;
}
.cid-rWGGee60MS {
  padding-top: 75px;
  padding-bottom: 45px;
  background: linear-gradient(45deg, #4f4943, #4f4943);
}
.cid-rWGGee60MS .btn {
  margin: 0 0 .5rem 0;
}
.cid-rWGGee60MS H2 {
  text-align: left;
}
.cid-rWGG6oULlm {
  padding-top: 30px;
  padding-bottom: 45px;
  background-image: url("../../../assets/images/-480x286.jpg");
}
.cid-rWGG6oULlm .testimonial-text {
  font-style: italic;
  font-weight: 300;
  color: #ffffff;
}
.cid-rWGG6oULlm .mbr-author-name {
  font-weight: bold;
  color: #ffffff;
}
.cid-rWGG6oULlm .media-container-row {
  word-wrap: break-word;
  word-break: break-word;
}
@media (max-width: 991px) {
  .cid-rWGG6oULlm .mbr-figure,
  .cid-rWGG6oULlm img {
    max-height: 300px;
    width: auto;
    margin: auto;
  }
  .cid-rWGG6oULlm .media-content {
    padding-top: 1.5rem !important;
  }
}
.cid-rWGLurqMBE {
  padding-top: 75px;
  padding-bottom: 45px;
  background: linear-gradient(45deg, #4f4943, #4f4943);
}
.cid-rWGLurqMBE .btn {
  margin: 0 0 .5rem 0;
}
.cid-rWGLurqMBE H2 {
  text-align: left;
}
.cid-saamCfYJuO {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/-480x286.jpg");
}
.cid-saamCfYJuO .testimonial-text {
  font-style: italic;
  font-weight: 300;
  color: #ffffff;
}
.cid-saamCfYJuO .mbr-author-name {
  font-weight: bold;
  color: #ffffff;
}
.cid-saamCfYJuO .media-container-row {
  word-wrap: break-word;
  word-break: break-word;
}
@media (max-width: 991px) {
  .cid-saamCfYJuO .mbr-figure,
  .cid-saamCfYJuO img {
    max-height: 300px;
    width: auto;
    margin: auto;
  }
  .cid-saamCfYJuO .media-content {
    padding-top: 1.5rem !important;
  }
}
.cid-saanD7jCrM {
  padding-top: 75px;
  padding-bottom: 45px;
  background: linear-gradient(45deg, #4f4943, #635a51);
}
.cid-saanD7jCrM .btn {
  margin: 0 0 .5rem 0;
}
.cid-saanD7jCrM H2 {
  text-align: left;
}
.cid-saapNnRvyL {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #bcb1a5;
}
.cid-saapNnRvyL .mbr-text {
  color: #1e1710;
}
.cid-saapNnRvyL .mbr-text P {
  text-align: left;
}
.cid-rWGLWYCjz3 {
  padding-top: 75px;
  padding-bottom: 30px;
  background: linear-gradient(45deg, #4f4943, #4f4943);
}
.cid-rWGLWYCjz3 .btn {
  margin: 0 0 .5rem 0;
}
.cid-rWGLWYCjz3 H2 {
  text-align: left;
}
.cid-rWGLWYCjz3 P {
  text-align: left;
}
.cid-rWGMe6wXe6 {
  padding-top: 30px;
  padding-bottom: 15px;
  background-image: url("../../../assets/images/-480x286.jpg");
}
.cid-rWGMe6wXe6 .testimonial-text {
  font-style: italic;
  color: #ffffff;
  font-weight: 300;
}
.cid-rWGMe6wXe6 .mbr-author-name {
  font-weight: bold;
  color: #ffffff;
}
.cid-rWGMe6wXe6 .mbr-author-desc {
  color: #232;
}
@media (max-width: 991px) {
  .cid-rWGMe6wXe6 .mbr-figure,
  .cid-rWGMe6wXe6 img {
    max-height: 300px;
    width: auto;
    margin: auto;
  }
}
.cid-saarXjqg1z {
  padding-top: 75px;
  padding-bottom: 45px;
  background: linear-gradient(45deg, #4f4943, #4f4943);
}
.cid-saarXjqg1z .btn {
  margin: 0 0 .5rem 0;
}
.cid-saarXjqg1z H2 {
  text-align: left;
}
.cid-safUUwyIQC {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/-480x286.jpg");
}
.cid-safUUwyIQC .card-box {
  background-color: #ffffff;
  padding: 2rem;
}
.cid-safUUwyIQC h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-safUUwyIQC p {
  color: #767676;
  text-align: left;
}
.cid-safUUwyIQC .card-wrapper {
  position: relative;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-safUUwyIQC .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
.cid-safUUwyIQC .card-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}
.cid-safUUwyIQC .card-title DIV {
  text-align: center;
}
.cid-safUUwyIQC P {
  text-align: center;
}
.cid-safUUwyIQC .card-title {
  text-align: center;
}
.cid-saasgb4e34 {
  padding-top: 75px;
  padding-bottom: 30px;
  background: linear-gradient(45deg, #4f4943, #4f4943);
}
.cid-saasgb4e34 .btn {
  margin: 0 0 .5rem 0;
}
.cid-saasgb4e34 H2 {
  text-align: left;
}
.cid-safVMGgEGV {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/-480x286.jpg");
}
.cid-safVMGgEGV .card-box {
  background-color: #ffffff;
  padding: 2rem;
}
.cid-safVMGgEGV h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-safVMGgEGV p {
  color: #767676;
  text-align: left;
}
.cid-safVMGgEGV .card-wrapper {
  position: relative;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-safVMGgEGV .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
.cid-safVMGgEGV .card-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}
.cid-safVMGgEGV .card-title DIV {
  text-align: center;
}
.cid-safVMGgEGV P {
  text-align: center;
}
.cid-safVMGgEGV .card-title {
  text-align: center;
}
.cid-rWGhIDxD8b {
  padding-top: 75px;
  padding-bottom: 45px;
  background: linear-gradient(45deg, #4f4943, #4f4943);
}
.cid-rWGhIDxD8b .btn {
  margin: 0 0 .5rem 0;
}
.cid-rWGhIDxD8b H2 {
  text-align: left;
}
.cid-rWGUMwm1sb {
  padding-top: 0px;
  padding-bottom: 0px;
  background-image: url("../../../assets/images/-480x286.jpg");
}
.cid-rWGUMwm1sb .testimonial-text {
  font-style: italic;
  font-weight: 300;
  color: #ffffff;
}
.cid-rWGUMwm1sb .mbr-author-name {
  font-weight: bold;
  color: #ffffff;
}
.cid-rWGUMwm1sb .media-container-row {
  word-wrap: break-word;
  word-break: break-word;
}
@media (max-width: 991px) {
  .cid-rWGUMwm1sb .mbr-figure,
  .cid-rWGUMwm1sb img {
    max-height: 300px;
    width: auto;
    margin: auto;
  }
  .cid-rWGUMwm1sb .media-content {
    padding-top: 1.5rem !important;
  }
}
.cid-sagnAACHRR {
  padding-top: 45px;
  padding-bottom: 0px;
  background: linear-gradient(45deg, #4f4943, #635a51);
}
.cid-sagnAACHRR .btn {
  margin: 0 0 .5rem 0;
}
.cid-sagnAACHRR H2 {
  text-align: left;
}
.cid-saathqP89d {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-saathqP89d .mbr-text,
.cid-saathqP89d blockquote {
  color: #767676;
}
.cid-rWGW4moauZ {
  padding-top: 60px;
  padding-bottom: 45px;
  background: linear-gradient(45deg, #4f4943, #4f4943);
}
.cid-rWGW4moauZ .btn {
  margin: 0 0 .5rem 0;
}
.cid-rWGW4moauZ H2 {
  text-align: left;
}
.cid-safXivgvi0 {
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: #bcb1a5;
}
.cid-safXivgvi0 .mbr-text {
  color: #232323;
}
.cid-safXivgvi0 .mbr-text P {
  text-align: left;
}
.cid-safYc9XZSu {
  padding-top: 60px;
  padding-bottom: 45px;
  background: linear-gradient(45deg, #4f4943, #4f4943);
}
.cid-safYc9XZSu .btn {
  margin: 0 0 .5rem 0;
}
.cid-safYc9XZSu H2 {
  text-align: left;
}
.cid-safYhRHjMh {
  padding-top: 0px;
  padding-bottom: 0px;
  background-image: url("../../../assets/images/-480x286.jpg");
}
.cid-safYhRHjMh .testimonial-text {
  font-style: italic;
  font-weight: 300;
  color: #ffffff;
}
.cid-safYhRHjMh .mbr-author-name {
  font-weight: bold;
  color: #ffffff;
}
.cid-safYhRHjMh .media-container-row {
  word-wrap: break-word;
  word-break: break-word;
}
@media (max-width: 991px) {
  .cid-safYhRHjMh .mbr-figure,
  .cid-safYhRHjMh img {
    max-height: 300px;
    width: auto;
    margin: auto;
  }
  .cid-safYhRHjMh .media-content {
    padding-top: 1.5rem !important;
  }
}
.cid-sagnCGBXLb {
  padding-top: 45px;
  padding-bottom: 0px;
  background: linear-gradient(45deg, #4f4943, #635a51);
}
.cid-sagnCGBXLb .btn {
  margin: 0 0 .5rem 0;
}
.cid-sagnCGBXLb H2 {
  text-align: left;
}
.cid-saauH17hYL {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-saauH17hYL .mbr-text,
.cid-saauH17hYL blockquote {
  color: #767676;
}
.cid-rWH4iunSV9 {
  padding-top: 75px;
  padding-bottom: 60px;
  background: linear-gradient(45deg, #4f4943, #4f4943);
}
.cid-rWH4iunSV9 .btn {
  margin: 0 0 .5rem 0;
}
.cid-rWH4iunSV9 H2 {
  text-align: left;
}
.cid-rWH4MHKUP1 {
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: #bcb1a5;
}
.cid-rWH4MHKUP1 .mbr-text {
  color: #232323;
}
.cid-rWH4MHKUP1 .mbr-text P {
  text-align: left;
}
.cid-rWH59PRwns {
  padding-top: 75px;
  padding-bottom: 45px;
  background: linear-gradient(45deg, #4f4943, #4f4943);
}
.cid-rWH59PRwns .btn {
  margin: 0 0 .5rem 0;
}
.cid-rWH59PRwns H2 {
  text-align: left;
}
.cid-rWH5mjr8SL {
  padding-top: 0px;
  padding-bottom: 0px;
  background-image: url("../../../assets/images/-480x286.jpg");
}
.cid-rWH5mjr8SL .testimonial-text {
  font-style: italic;
  color: #232323;
  font-weight: 300;
}
.cid-rWH5mjr8SL .mbr-author-name {
  font-weight: bold;
  color: #1e1710;
}
.cid-rWH5mjr8SL .mbr-author-desc {
  color: #232;
}
@media (max-width: 991px) {
  .cid-rWH5mjr8SL .mbr-figure,
  .cid-rWH5mjr8SL img {
    max-height: 300px;
    width: auto;
    margin: auto;
  }
}
.cid-saawgJAska {
  padding-top: 75px;
  padding-bottom: 60px;
  background: linear-gradient(45deg, #4f4943, #4f4943);
}
.cid-saawgJAska .btn {
  margin: 0 0 .5rem 0;
}
.cid-saawgJAska H2 {
  text-align: left;
}
.cid-rWH6fMhBRe {
  padding-top: 0px;
  padding-bottom: 15px;
  background-color: #bcb1a5;
}
.cid-rWH6fMhBRe p {
  margin-bottom: 0;
}
.cid-rWH6fMhBRe .card-box {
  z-index: 1;
  position: relative;
  background-color: rgba(191, 215, 216, 0.6);
  height: 100%;
  width: 100%;
  pointer-events: none;
}
.cid-rWH6fMhBRe .card-box .card-title {
  pointer-events: all;
}
.cid-rWH6fMhBRe .card-box .mbr-text {
  pointer-events: all;
}
.cid-rWH6fMhBRe .media-container-row {
  word-wrap: break-word;
  word-break: break-word;
  align-items: stretch;
  -webkit-align-items: stretch;
  margin-left: -15px;
  margin-right: -15px;
}
.cid-rWH6fMhBRe .card-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.cid-rWH6fMhBRe .card-img img {
  z-index: -1;
  height: 100%;
  min-width: 100%;
  width: auto;
}
.cid-rWH6fMhBRe .card-wrap {
  position: relative;
}
.cid-rWH6fMhBRe .card {
  padding-bottom: 2rem;
}
.cid-rWH6fMhBRe P {
  color: #232323;
}
.cid-rWH6fMhBRe H4 {
  color: #232323;
}
.cid-sagnEoS3za {
  padding-top: 45px;
  padding-bottom: 0px;
  background: linear-gradient(45deg, #4f4943, #635a51);
}
.cid-sagnEoS3za .btn {
  margin: 0 0 .5rem 0;
}
.cid-sagnEoS3za H2 {
  text-align: left;
}
.cid-saazllrio3 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-saazllrio3 .mbr-text,
.cid-saazllrio3 blockquote {
  color: #767676;
}
.cid-rWH8E5njEs {
  padding-top: 60px;
  padding-bottom: 30px;
  background: linear-gradient(45deg, #4f4943, #4f4943);
}
.cid-rWH8E5njEs .btn {
  margin: 0 0 .5rem 0;
}
.cid-rWH8E5njEs H2 {
  text-align: left;
}
.cid-rWGgbwfEzg {
  padding-top: 0px;
  padding-bottom: 0px;
  background-image: url("../../../assets/images/-480x286.jpg");
}
.cid-rWGgbwfEzg .testimonial-text {
  font-style: italic;
  font-weight: 300;
  color: #ffffff;
}
.cid-rWGgbwfEzg .mbr-author-name {
  font-weight: bold;
  color: #ffffff;
}
.cid-rWGgbwfEzg .media-container-row {
  word-wrap: break-word;
  word-break: break-word;
}
@media (max-width: 991px) {
  .cid-rWGgbwfEzg .mbr-figure,
  .cid-rWGgbwfEzg img {
    max-height: 300px;
    width: auto;
    margin: auto;
  }
  .cid-rWGgbwfEzg .media-content {
    padding-top: 1.5rem !important;
  }
}
.cid-rWGhp5UGLw {
  padding-top: 60px;
  padding-bottom: 30px;
  background: linear-gradient(45deg, #4f4943, #635a51);
}
.cid-rWGhp5UGLw .btn {
  margin: 0 0 .5rem 0;
}
.cid-rWGhp5UGLw H2 {
  text-align: left;
}
.cid-rWGkT0fZOR {
  padding-top: 0px;
  padding-bottom: 0px;
  background-image: url("../../../assets/images/567e3bd6a7e5a-958x524.jpg");
}
.cid-rWGkT0fZOR .testimonial-text {
  font-style: italic;
  font-weight: 300;
  color: #ffffff;
}
.cid-rWGkT0fZOR .mbr-author-name {
  font-weight: bold;
  color: #ffffff;
}
.cid-rWGkT0fZOR .media-container-row {
  word-wrap: break-word;
  word-break: break-word;
}
@media (max-width: 991px) {
  .cid-rWGkT0fZOR .mbr-figure,
  .cid-rWGkT0fZOR img {
    max-height: 300px;
    width: auto;
    margin: auto;
  }
  .cid-rWGkT0fZOR .media-content {
    padding-top: 1.5rem !important;
  }
}
.cid-rWGjwQ5otJ {
  padding-top: 60px;
  padding-bottom: 45px;
  background: linear-gradient(45deg, #4f4943, #4f4943);
}
.cid-rWGjwQ5otJ .btn {
  margin: 0 0 .5rem 0;
}
.cid-rWGjwQ5otJ H2 {
  text-align: left;
}
.cid-rWH9zhTOov {
  padding-top: 60px;
  padding-bottom: 45px;
  background-image: url("../../../assets/images/567e3bd6a7e5a-958x524.jpg");
}
.cid-rWH9zhTOov .testimonial-text {
  font-style: italic;
  color: #1e1710;
  font-weight: 300;
}
.cid-rWH9zhTOov .mbr-author-name {
  font-weight: bold;
  color: #1e1710;
}
.cid-rWH9zhTOov .mbr-author-desc {
  color: #232;
}
@media (max-width: 991px) {
  .cid-rWH9zhTOov .mbr-figure,
  .cid-rWH9zhTOov img {
    max-height: 300px;
    width: auto;
    margin: auto;
  }
}
.cid-rWHadBmirN {
  padding-top: 60px;
  padding-bottom: 30px;
  background: linear-gradient(45deg, #4f4943, #4f4943);
}
.cid-rWHadBmirN .btn {
  margin: 0 0 .5rem 0;
}
.cid-rWHadBmirN H2 {
  text-align: left;
}
.cid-saazQepFFi {
  padding-top: 0px;
  padding-bottom: 0px;
  background-image: url("../../../assets/images/567e3bd6a7e5a-958x524.jpg");
}
.cid-saazQepFFi .testimonial-text {
  font-style: italic;
  font-weight: 300;
  color: #ffffff;
}
.cid-saazQepFFi .mbr-author-name {
  font-weight: bold;
  color: #ffffff;
}
.cid-saazQepFFi .media-container-row {
  word-wrap: break-word;
  word-break: break-word;
}
@media (max-width: 991px) {
  .cid-saazQepFFi .mbr-figure,
  .cid-saazQepFFi img {
    max-height: 300px;
    width: auto;
    margin: auto;
  }
  .cid-saazQepFFi .media-content {
    padding-top: 1.5rem !important;
  }
}
.cid-rWHc3RGuKZ {
  padding-top: 60px;
  padding-bottom: 45px;
  background: linear-gradient(45deg, #4f4943, #4f4943);
}
.cid-rWHc3RGuKZ .btn {
  margin: 0 0 .5rem 0;
}
.cid-rWHc3RGuKZ H2 {
  text-align: left;
}
.cid-rWHcltgH1p {
  padding-top: 75px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/55f8e28e5826b-800x561.jpg");
}
.cid-rWHcltgH1p .testimonial-text {
  font-style: italic;
  font-weight: 300;
  color: #ffffff;
}
.cid-rWHcltgH1p .mbr-author-name {
  font-weight: bold;
  color: #ffffff;
}
.cid-rWHcltgH1p .media-container-row {
  word-wrap: break-word;
  word-break: break-word;
}
@media (max-width: 991px) {
  .cid-rWHcltgH1p .mbr-figure,
  .cid-rWHcltgH1p img {
    max-height: 300px;
    width: auto;
    margin: auto;
  }
  .cid-rWHcltgH1p .media-content {
    padding-top: 1.5rem !important;
  }
}
.cid-rWHdr296Kq {
  padding-top: 60px;
  padding-bottom: 45px;
  background: linear-gradient(45deg, #4f4943, #4f4943);
}
.cid-rWHdr296Kq .btn {
  margin: 0 0 .5rem 0;
}
.cid-rWHdr296Kq H2 {
  text-align: left;
}
.cid-rWHdKu6J1Y {
  padding-top: 90px;
  padding-bottom: 0px;
  background-image: url("../../../assets/images/1962-766x519.jpg");
}
.cid-rWHdKu6J1Y .media-container-row {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
@media (min-width: 992px) {
  .cid-rWHdKu6J1Y .mbr-figure {
    padding-right: 4rem;
    padding-right: 0;
    padding-left: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-rWHdKu6J1Y .mbr-figure {
    padding-bottom: 3rem;
  }
}
@media (max-width: 767px) {
  .cid-rWHdKu6J1Y .mbr-text {
    text-align: center;
  }
}
.cid-rWHfiRCJN2 {
  padding-top: 60px;
  padding-bottom: 45px;
  background: linear-gradient(45deg, #4f4943, #4f4943);
}
.cid-rWHfiRCJN2 .btn {
  margin: 0 0 .5rem 0;
}
.cid-rWHfiRCJN2 H2 {
  text-align: left;
}
.cid-rWHgeORGsN {
  padding-top: 30px;
  padding-bottom: 0px;
  background-image: url("../../../assets/images/567e3bd6a7e5a-958x524.jpg");
}
.cid-rWHgeORGsN .testimonial-text {
  font-style: italic;
  font-weight: 300;
  color: #ffffff;
}
.cid-rWHgeORGsN .mbr-author-name {
  font-weight: bold;
  color: #ffffff;
}
.cid-rWHgeORGsN .media-container-row {
  word-wrap: break-word;
  word-break: break-word;
}
@media (max-width: 991px) {
  .cid-rWHgeORGsN .mbr-figure,
  .cid-rWHgeORGsN img {
    max-height: 300px;
    width: auto;
    margin: auto;
  }
  .cid-rWHgeORGsN .media-content {
    padding-top: 1.5rem !important;
  }
}
.cid-saaDR1DXuH {
  padding-top: 60px;
  padding-bottom: 45px;
  background: linear-gradient(45deg, #4f4943, #4f4943);
}
.cid-saaDR1DXuH .btn {
  margin: 0 0 .5rem 0;
}
.cid-saaDR1DXuH H2 {
  text-align: left;
}
.cid-rWHhMHwLYm {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #efefef;
}
.cid-rWHhMHwLYm p {
  margin-bottom: 0;
}
.cid-rWHhMHwLYm .card-box {
  z-index: 1;
  position: relative;
  background-color: rgba(193, 193, 193, 0.6);
  height: 100%;
  width: 100%;
  pointer-events: none;
}
.cid-rWHhMHwLYm .card-box .card-title {
  pointer-events: all;
}
.cid-rWHhMHwLYm .card-box .mbr-text {
  pointer-events: all;
}
.cid-rWHhMHwLYm .media-container-row {
  word-wrap: break-word;
  word-break: break-word;
  align-items: stretch;
  -webkit-align-items: stretch;
  margin-left: -15px;
  margin-right: -15px;
}
.cid-rWHhMHwLYm .card-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.cid-rWHhMHwLYm .card-img img {
  z-index: -1;
  height: 100%;
  min-width: 100%;
  width: auto;
}
.cid-rWHhMHwLYm .card-wrap {
  position: relative;
}
.cid-rWHhMHwLYm .card {
  padding-bottom: 2rem;
}
.cid-rWHhMHwLYm .mbr-section-title {
  color: #ffffff;
}
.cid-rWHhMHwLYm P {
  color: #232323;
}
.cid-rWHhMHwLYm H4 {
  color: #232323;
}
.cid-rWHhf9PPQd {
  padding-top: 90px;
  padding-bottom: 60px;
  background: linear-gradient(45deg, #4f4943, #4f4943);
}
.cid-rWHhf9PPQd .btn {
  margin: 0 0 .5rem 0;
}
.cid-rWHhf9PPQd H2 {
  text-align: left;
}
.cid-rWHgbQPoA6 {
  padding-top: 60px;
  padding-bottom: 0px;
  background-image: url("../../../assets/images/55f8e28e5826b-800x561.jpg");
}
.cid-rWHgbQPoA6 .testimonial-text {
  font-style: italic;
  color: #1e1710;
  font-weight: 300;
}
.cid-rWHgbQPoA6 .mbr-author-name {
  font-weight: bold;
  color: #1e1710;
}
.cid-rWHgbQPoA6 .mbr-author-desc {
  color: #232;
}
@media (max-width: 991px) {
  .cid-rWHgbQPoA6 .mbr-figure,
  .cid-rWHgbQPoA6 img {
    max-height: 300px;
    width: auto;
    margin: auto;
  }
}
.cid-rWHkp5qJ3i {
  padding-top: 60px;
  padding-bottom: 45px;
  background: linear-gradient(45deg, #4f4943, #4f4943);
}
.cid-rWHkp5qJ3i .btn {
  margin: 0 0 .5rem 0;
}
.cid-rWHkp5qJ3i H2 {
  text-align: left;
}
.cid-rWHljI9tyJ {
  padding-top: 75px;
  padding-bottom: 75px;
  background-image: url("../../../assets/images/55f8e28e5826b-800x561.jpg");
}
.cid-rWHljI9tyJ .testimonial-text {
  font-style: italic;
  font-weight: 300;
  color: #ffffff;
}
.cid-rWHljI9tyJ .mbr-author-name {
  font-weight: bold;
  color: #ffffff;
}
.cid-rWHljI9tyJ .media-container-row {
  word-wrap: break-word;
  word-break: break-word;
}
@media (max-width: 991px) {
  .cid-rWHljI9tyJ .mbr-figure,
  .cid-rWHljI9tyJ img {
    max-height: 300px;
    width: auto;
    margin: auto;
  }
  .cid-rWHljI9tyJ .media-content {
    padding-top: 1.5rem !important;
  }
}
.cid-rWHmawmkF8 {
  padding-top: 60px;
  padding-bottom: 45px;
  background: linear-gradient(45deg, #4f4943, #4f4943);
}
.cid-rWHmawmkF8 .btn {
  margin: 0 0 .5rem 0;
}
.cid-rWHmawmkF8 H2 {
  text-align: left;
}
.cid-rWHmxoMswE {
  padding-top: 90px;
  padding-bottom: 0px;
  background-image: url("../../../assets/images/unnamed-500x299.jpg");
}
.cid-rWHmxoMswE .testimonial-text {
  font-style: italic;
  color: #1e1710;
  font-weight: 300;
}
.cid-rWHmxoMswE .mbr-author-name {
  font-weight: bold;
  color: #1e1710;
}
.cid-rWHmxoMswE .mbr-author-desc {
  color: #232;
}
@media (max-width: 991px) {
  .cid-rWHmxoMswE .mbr-figure,
  .cid-rWHmxoMswE img {
    max-height: 300px;
    width: auto;
    margin: auto;
  }
}
.cid-rWHnubDMAP {
  padding-top: 75px;
  padding-bottom: 45px;
  background: linear-gradient(45deg, #4f4943, #4f4943);
}
.cid-rWHnubDMAP .btn {
  margin: 0 0 .5rem 0;
}
.cid-rWHnubDMAP H2 {
  text-align: left;
}
.cid-rWHoAUvNHM {
  padding-top: 75px;
  padding-bottom: 45px;
  background-image: url("../../../assets/images/unnamed-500x299.jpg");
}
.cid-rWHoAUvNHM .testimonial-text {
  font-style: italic;
  font-weight: 300;
  color: #ffffff;
}
.cid-rWHoAUvNHM .mbr-author-name {
  font-weight: bold;
  color: #ffffff;
  text-align: left;
}
.cid-rWHoAUvNHM .media-container-row {
  word-wrap: break-word;
  word-break: break-word;
}
@media (max-width: 991px) {
  .cid-rWHoAUvNHM .mbr-figure,
  .cid-rWHoAUvNHM img {
    max-height: 300px;
    width: auto;
    margin: auto;
  }
  .cid-rWHoAUvNHM .media-content {
    padding-top: 1.5rem !important;
  }
}
.cid-saaIs3cDMT {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #25aab2;
}
.cid-saaIs3cDMT P {
  color: #767676;
}
.cid-saaIs3cDMT H1 {
  color: #ffffff;
}
.cid-saaIs3cDMT .mbr-text,
.cid-saaIs3cDMT .mbr-section-btn {
  color: #ffffff;
}
.cid-rWHpLbFMEe {
  padding-top: 75px;
  padding-bottom: 45px;
  background: linear-gradient(45deg, #073b4c, #55b4d4);
}
.cid-rWHpLbFMEe .btn {
  margin: 0 0 .5rem 0;
}
.cid-rWHpLbFMEe H2 {
  text-align: left;
}
.cid-rWHpYxCjzw {
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: #bfd7d8;
}
.cid-rWHpYxCjzw .testimonial-text {
  font-style: italic;
  color: #1e1710;
  font-weight: 300;
}
.cid-rWHpYxCjzw .mbr-author-name {
  font-weight: bold;
  color: #232;
}
.cid-rWHpYxCjzw .mbr-author-desc {
  color: #232;
}
@media (max-width: 991px) {
  .cid-rWHpYxCjzw .mbr-figure,
  .cid-rWHpYxCjzw img {
    max-height: 300px;
    width: auto;
    margin: auto;
  }
}
.cid-rWHqtrAtZG {
  padding-top: 75px;
  padding-bottom: 45px;
  background: linear-gradient(45deg, #073b4c, #55b4d4);
}
.cid-rWHqtrAtZG .btn {
  margin: 0 0 .5rem 0;
}
.cid-rWHqtrAtZG H2 {
  text-align: left;
}
.cid-rWHqZqKZ4N {
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: #bfd7d8;
}
.cid-rWHqZqKZ4N .testimonial-text {
  font-style: italic;
  font-weight: 300;
  color: #1e1710;
}
.cid-rWHqZqKZ4N .mbr-author-name {
  font-weight: bold;
  color: #1e1710;
}
.cid-rWHqZqKZ4N .media-container-row {
  word-wrap: break-word;
  word-break: break-word;
}
@media (max-width: 991px) {
  .cid-rWHqZqKZ4N .mbr-figure,
  .cid-rWHqZqKZ4N img {
    max-height: 300px;
    width: auto;
    margin: auto;
  }
  .cid-rWHqZqKZ4N .media-content {
    padding-top: 1.5rem !important;
  }
}
.cid-rWHrlz6wC9 {
  padding-top: 60px;
  padding-bottom: 45px;
  background: linear-gradient(45deg, #073b4c, #55b4d4);
}
.cid-rWHrlz6wC9 .btn {
  margin: 0 0 .5rem 0;
}
.cid-rWHrlz6wC9 H2 {
  text-align: left;
}
.cid-rWGi3ZA33S {
  padding-top: 60px;
  padding-bottom: 75px;
  background-color: #bfd7d8;
}
.cid-rWGi3ZA33S .testimonial-text {
  font-style: italic;
  color: #1e1710;
  font-weight: 300;
}
.cid-rWGi3ZA33S .mbr-author-name {
  font-weight: bold;
  color: #1e1710;
}
.cid-rWGi3ZA33S .mbr-author-desc {
  color: #232;
}
@media (max-width: 991px) {
  .cid-rWGi3ZA33S .mbr-figure,
  .cid-rWGi3ZA33S img {
    max-height: 300px;
    width: auto;
    margin: auto;
  }
}
.cid-rWGvDBjP2s {
  padding-top: 60px;
  padding-bottom: 45px;
  background: linear-gradient(45deg, #073b4c, #55b4d4);
}
.cid-rWGvDBjP2s .btn {
  margin: 0 0 .5rem 0;
}
.cid-rWGvDBjP2s H2 {
  text-align: left;
}
.cid-rWGi8817MO {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #bfd7d8;
}
.cid-rWGi8817MO .testimonial-text {
  font-style: italic;
  font-weight: 300;
  color: #232323;
}
.cid-rWGi8817MO .mbr-author-name {
  font-weight: bold;
  color: #232323;
}
.cid-rWGi8817MO .media-container-row {
  word-wrap: break-word;
  word-break: break-word;
}
@media (max-width: 991px) {
  .cid-rWGi8817MO .mbr-figure,
  .cid-rWGi8817MO img {
    max-height: 300px;
    width: auto;
    margin: auto;
  }
  .cid-rWGi8817MO .media-content {
    padding-top: 1.5rem !important;
  }
}
.cid-rWGjxHDJHc {
  padding-top: 75px;
  padding-bottom: 45px;
  background: linear-gradient(45deg, #073b4c, #55b4d4);
}
.cid-rWGjxHDJHc .btn {
  margin: 0 0 .5rem 0;
}
.cid-rWGjxHDJHc H2 {
  text-align: left;
  color: #ffffff;
}
.cid-rWGi0hmuZ0 {
  padding-top: 75px;
  padding-bottom: 45px;
  background-color: #bfd7d8;
}
.cid-rWGi0hmuZ0 .testimonial-text {
  font-style: italic;
  font-weight: 300;
  color: #232323;
}
.cid-rWGi0hmuZ0 .mbr-author-name {
  font-weight: bold;
  color: #232323;
}
.cid-rWGi0hmuZ0 .media-container-row {
  word-wrap: break-word;
  word-break: break-word;
}
@media (max-width: 991px) {
  .cid-rWGi0hmuZ0 .mbr-figure,
  .cid-rWGi0hmuZ0 img {
    max-height: 300px;
    width: auto;
    margin: auto;
  }
  .cid-rWGi0hmuZ0 .media-content {
    padding-top: 1.5rem !important;
  }
}
.cid-rWHu11UP8t {
  padding-top: 60px;
  padding-bottom: 45px;
  background: linear-gradient(45deg, #073b4c, #55b4d4);
}
.cid-rWHu11UP8t .btn {
  margin: 0 0 .5rem 0;
}
.cid-rWHu11UP8t H2 {
  text-align: left;
}
.cid-rWHqYEpWRT {
  padding-top: 75px;
  padding-bottom: 0px;
  background-color: #bfd7d8;
}
.cid-rWHqYEpWRT .testimonial-text {
  font-style: italic;
  color: #1e1710;
  font-weight: 300;
}
.cid-rWHqYEpWRT .mbr-author-name {
  font-weight: bold;
  color: #232;
}
.cid-rWHqYEpWRT .mbr-author-desc {
  color: #232;
}
@media (max-width: 991px) {
  .cid-rWHqYEpWRT .mbr-figure,
  .cid-rWHqYEpWRT img {
    max-height: 300px;
    width: auto;
    margin: auto;
  }
}
.cid-sv6oUQ3bnL {
  padding-top: 60px;
  padding-bottom: 45px;
  background: linear-gradient(45deg, #073b4c, #55b4d4);
}
.cid-sv6oUQ3bnL .btn {
  margin: 0 0 .5rem 0;
}
.cid-sv6oUQ3bnL H2 {
  text-align: center;
}
.cid-sv6oQpj8qk {
  padding-top: 75px;
  padding-bottom: 45px;
  background-color: #bfd7d8;
}
.cid-sv6oQpj8qk .testimonial-text {
  font-style: italic;
  font-weight: 300;
  color: #232323;
}
.cid-sv6oQpj8qk .mbr-author-name {
  font-weight: bold;
  color: #232323;
}
.cid-sv6oQpj8qk .media-container-row {
  word-wrap: break-word;
  word-break: break-word;
}
@media (max-width: 991px) {
  .cid-sv6oQpj8qk .mbr-figure,
  .cid-sv6oQpj8qk img {
    max-height: 300px;
    width: auto;
    margin: auto;
  }
  .cid-sv6oQpj8qk .media-content {
    padding-top: 1.5rem !important;
  }
}
.cid-rWMl7zAQFt {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2e2e2e;
}
@media (max-width: 767px) {
  .cid-rWMl7zAQFt .content {
    text-align: center;
  }
  .cid-rWMl7zAQFt .content > div:not(:last-child) {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-rWMl7zAQFt .media-wrap {
    margin-bottom: 1rem;
  }
}
.cid-rWMl7zAQFt .media-wrap .mbr-iconfont-logo {
  font-size: 7.5rem;
  color: #f36;
}
.cid-rWMl7zAQFt .media-wrap img {
  height: 6rem;
}
@media (max-width: 767px) {
  .cid-rWMl7zAQFt .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-rWMl7zAQFt .footer-lower hr {
  margin: 1rem 0;
  border-color: #fff;
  opacity: .05;
}
.cid-rWMl7zAQFt .footer-lower .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-rWMl7zAQFt .footer-lower .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #fff;
}
.cid-rWMl7zAQFt .footer-lower .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-rWMl7zAQFt .footer-lower .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-rWMl7zAQFt .footer-lower .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-rWMl7zAQFt .footer-lower .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
